$colors: (
    primary: #0D0D99,
    secondary: #02025E
);

.jumbotron{
    background-color: #EAEAEA;
    // background-image: url('../Images/GSW.png');
    background-repeat: no-repeat;
    background-size: cover;
}